h1 {
  background: linear-gradient(-90deg, #ffcb90, #298146);
  border-bottom: 1px gray solid;
  margin: auto;
}
h2 {
  border: 1px solid rgb(34, 177, 70);
  border-radius: 20px;
  margin: auto;
}
.welcome {
  background: linear-gradient(-90deg, #ffcb90, #298146);
  border-bottom: 1px gray solid;
  padding: 30px 30px 30px;
  margin: auto;
  width: 90%;
  height: 50px;
  float: left;
}

.TopMenuRow,
h2 {
  /* box-sizing: border-box;*/
  display: flex;
}

.MainMenuImagecolumn {
  flex: 29%;
  padding: 3px;
  
}

img {
  border: 1px solid rgb(34, 177, 70);
  border-radius: 20px;
  width: 100px;
  height: 50px;
}
.mainMenuImage{
  width: 100px;
  height: 150px;
}

.itemNames {
  background-color: rgb(73, 131, 91); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 5px;
  margin: auto;
  border: 5px solid rgb(107, 87, 44);
  width: 150px;
  height: 100px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(121, 34, 7);
  border-radius: 10px;
}
.groceryList {
  /* box-sizing: border-box;*/
  display: flex;
}
.ItemsList {
  flex: 29%;
  padding: 3px;
}
li {
  margin: 1em 0;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
