#inputText {
  border-radius: 4px;
  border: solid gray 2px;
  padding: 5px;
}
.welcome {
  background: linear-gradient(-90deg, #ffcb90, #298146);
  border-bottom: 1px gray solid;
  padding: 20px 20px 30px;
  margin: auto;
  height: 80px;
}
#inputText{
  width: 200px;
}
.TopMenuRow {
    /* box-sizing: border-box;*/
    display: flex;
  }

.MainMenuImagecolumn {
    flex: 29%;
    padding: 3px;
}

img{
    border: 1px solid rgb(139, 27, 27);
    border-radius: 10px;
}


h2 { 
    position: absolute; 
    top: 200px; 
    transform: translate(50%, 50%);
 }
 .btn {
    background-color: rgb(73, 131, 91); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
    margin: auto;
    border: 5px solid rgb(107, 87, 44);
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
    border-radius: 10px;
  }
  .groceryList{
    /* box-sizing: border-box;*/
    display: flex;
  }
  .ItemsList {
    flex: 29%;
    padding: 3px;
}